
ion-toolbar img{
    width: 70%;
    background: white;
  };
  
  ion-toolbar {
    background: white;
    --color: black;
    position: absolute;
    top: 0;
  }
  ion-content{
    position: fixed;
  }