<ion-header class="ion-no-border" translucent>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center;">
      <img src="../../assets/icon/royal-post-w.png"/>
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-slides scrollbar="true" [options]="vertical" style="height: 100%;" > 

    <ion-slide >
      
    </ion-slide>

    <ion-slide>
      <div style="background: yellow; height: 100%; width: 100%;"></div>
    </ion-slide>

  </ion-slides>

</ion-content>