<ion-header class="ion-no-border" translucent>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center;">
      <img src="../../assets/icon/royal-post-w.png"/>
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="article">

    <div class="title">
      <h1>{{artist.title}}</h1>
      <p>{{artist.date}}</p>
    </div>

    <div class="image">
      <img src={{artist.img}} />
    </div>

    <div class="text">
      <p>{{artist.text}}</p>
    </div>

  </div>

</ion-content>