<ion-app>

  <ion-menu side="end" menuId="first" contentId="main">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button disabled="true" style="--color:white">
            <ion-icon name="arrow-forward-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="shade" (click)="closeMenu()">
            <ion-icon name="arrow-forward-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">
          <img src="../assets/icon/royal-post-b.png" />
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        
        <ion-item [routerLink]="['/articles','music']" (click)="closeMenu()">
          <ion-icon name="paw-outline" slot="start"></ion-icon>
          <ion-label>Marco Antonio</ion-label>
        </ion-item>
        <ion-item (click)="closeMenu()">
          <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
          <ion-label>Noticias Locales</ion-label>
        </ion-item>
        <ion-item (click)="closeMenu()">
          <ion-icon name="heart-half-outline" slot="start"></ion-icon>
          <ion-label>Noticias Nacionales</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/articles','authors']" (click)="closeMenu()">
          <ion-icon name="earth-outline" slot="start"></ion-icon>
          <ion-label>Autores</ion-label>
        </ion-item>
        <ion-item (click)="closeMenu()">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>Economía</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/articles','sports']" (click)="closeMenu()">
          <ion-icon name="tennisball-outline" slot="start"></ion-icon>
          <ion-label>Deportes</ion-label>
        </ion-item>
        <ion-item (click)="closeMenu()">
          <ion-icon name="star-outline" slot="start"></ion-icon>
          <ion-label>Famosos</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/articles','music']" (click)="closeMenu()">
          <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
          <ion-label>Música</ion-label>
        </ion-item>
        <ion-item (click)="closeMenu()">
          <ion-icon name="bug-outline" slot="start"></ion-icon>
          <ion-label>Ciencia</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>

