<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center;">
      <img src="../../assets/icon/royal-post-w.png"/>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-card *ngFor="let article of articles" [routerLink]="['/article',category,article.id]"> 
      <img src={{article.img}}/>
      <ion-card-header>
        <ion-card-title>{{article.title}}</ion-card-title>
        <ion-card-subtitle>{{article.subtitle}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </ion-list>

</ion-content>
